version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: summup-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    networks:
      - summup-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: summup-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - summup-net

networks:
  summup-net:
    driver: bridge
